Click==7.0
pip==21.1
PyQt5==5.12.2
PyQt5Designer==5.10.1
PyQt5-sip==4.19.17
pyqt5-tools==5.11.3.1.4
python-dotenv==0.10.2
setuptools==39.0.1
numpy==1.16.2
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.2
pyparsing==2.3.1
python-dateutil==2.8.0
six==1.12.0
PyOpenGL==3.1.0
pyqtgraph==0.10.0
mpmath==1.1.0
sympy==1.4
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
opencv-python==4.0.0.21
psycopg2==2.8.1
pytz==2018.9
Werkzeug==0.15.2
